extends layout

block content
  h1
    a(href="/")
      img#back(src='/images/back.png')
    | #{title}

  table#pickle.table.table-hover.table-striped.table-bordered
    thead
      tr
        th port@server
        th description
        th status
        th current usage
        th features and expiration date
    tbody
      for license in licenseList 
        tr
          td(scope="row") #{license.server}
          td #{license.description}
          td #{license.status}
          td 
            a(href='/usage?server=' + license.server) details
          td 
            a(href='/list?server=' + license.server) list
